/* 
WOO CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


/* 
GLOBAL STYLES
----------------
Add styles beneath this line that you want to be applied across your entire site */


/* 
DESKTOP STYLES
-----------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 768px) {
	/* Desktop styles go here */
}


p.form-row.terms {
position: absolute;
/*bottom: 50px;*/
margin-top:-40px;
}

#top #payment #place_order {
float: none;
margin: 0 auto;
margin-top: 20px;
}

p.form-row.terms label {
position: relative;
left: 20px;
}

p.form-row.terms input {
position: absolute;
left: 3px;
bottom: 7px;
}

.checkout #order_review .form-row.place-order
{ width:100%; margin-bottom:0; margin-top:30px; }


.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price .amount
{visibility:hidden}
.woocommerce ul.products li.product .price span,
.woocommerce-page ul.products li.product .price span
{display:none}
.woocommerce ul.products li.product .price span:first-child,
.woocommerce-page ul.products li.product .price span:first-child
{display:inline; visibility:visible}
.woocommerce ul.products li.product .price woocommerce-price-suffix,
.woocommerce-page ul.products li.product .price .woocommerce-price-suffix
{visibility:visible}

.single-product .summary .price:first-child
{display: none;}
